---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Inicio">
  <main class="flex-1">
    <HeroSection />
  </main>
</Layout>

